# Adding

In [60]:
# adding values in list
cities = ["London","Paris"]
cities.append("Islamabad")
print(cities)

['London', 'Paris', 'Islamabad']

In [61]:
# adding multiple values in list
numbers = [11]
print(numbers)
numbers = numbers + [12,13,14,15]
print(numbers)

[11]
[11, 12, 13, 14, 15]

In [62]:
# adding values in empty list
names = []
names =  names + ["John", "Asad", "David","Winston"]
print(names)

['John', 'Asad', 'David', 'Winston']

In [63]:
# adding value where you want to add with insert function
names.insert(0,"Raza")
names

['Raza', 'John', 'Asad', 'David', 'Winston']

In [64]:
# adding value at position 2
names.insert(1,"Awais")
names

['Raza', 'Awais', 'John', 'Asad', 'David', 'Winston']

In [65]:
# adding value after David
names.insert(5,"Avery")
names

['Raza', 'Awais', 'John', 'Asad', 'David', 'Avery', 'Winston']

# Slicing

In [66]:
#  print only two names
print(names[0:2])

['Raza', 'Awais']

In [67]:
# print last name
print(names[-1])

Winston

In [68]:
# print first 5 names
print(names[:5])

['Raza', 'Awais', 'John', 'Asad', 'David']

In [69]:
# print values from 3 to last
print(names[2:])

['John', 'Asad', 'David', 'Avery', 'Winston']

# Deleting

In [70]:
# delete Third element 'John' of list
print("List before delete operation")
print(names)
del names[2]
print("List after delete operation")
names

List before delete operation
['Raza', 'Awais', 'John', 'Asad', 'David', 'Avery', 'Winston']
List after delete operation

['Raza', 'Awais', 'Asad', 'David', 'Avery', 'Winston']

In [71]:
# delete value with remove method
names.remove("Raza")
print(names)

['Awais', 'Asad', 'David', 'Avery', 'Winston']

# Popping

In [72]:
# pop fuction by default give last value of list
last_value = names.pop()
print(last_value)

Winston

In [73]:
# pop values from one list to save in other list
students = names.pop(1)
print(students)

Asad